.gallery {
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;

  img {
    flex-shrink: 0;
    height: 500px;
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
  }

  img:not(:last-child) {
    padding-right: 15px;
  }

  img.ng-enter, img.ng-leave.ng-leave-active {
    opacity: 0;
  }

  img.ng-enter-stagger {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;

    // To avoid CSS inheritance
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }

  img.ng-enter.ng-enter-active, img.ng-leave {
    opacity: 1;
  }
}
