.scroll-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.scroll {
  position: absolute;
  width: 20%;
  top: 0;
  bottom:0;
  background: white;
  opacity: 0;
  transition: opacity 0.5s;

  &.left {
    left: 0;
    cursor: w-resize;
  }

  &.right {
    right: 0;
    cursor: e-resize;
  }

  // comment this out when implementing scrollbar toggle
  &:hover {
    opacity: .5
  }
}
