$color-primary: #e9e8e6;
$color-secondary: #c6d1d5;

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: $color-primary;
}

header {
  height: 120px;
}

footer {
  height: 120px;
}

.main-container {
  position:relative;
  left:0;
  right:0;
  height: 500px;

  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 175px;
    background: $color-secondary;
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 195px;
    right: 10px;
    background: $color-secondary;
  }
}

.spacer {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  background: $color-secondary;
}
