$color-primary: #e9e8e6;
$color-secondary: #c6d1d5;
$color-font-primary: #4f4f4f;

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: $color-primary;
  font-family: arial;
  color: $color-font-primary;
}

header {
  height: 120px;
}

footer {
  height: 120px;
}

.content {
  padding: 15px;
}

.main-container {
  position: relative;
  display: flex;
  padding: 15px;
  height: 500px;

  nav {
    position: relative;
    height: 100%;
    width: 175px;
    background: $color-primary;
    font-family: garamond;

    .row {
      padding: 20px 0px;
      text-align: center;
      cursor: pointer;
    }

    .selected {
      color: $color-secondary;
    }
  }

  .view-content {
    width: 250px;
    height: 100%;
    background: $color-secondary;
  }

  // Animations
  .view-content.ng-hide-add.ng-hide-add-active,
  .view-content.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 0.7s;
    transition:all linear 0.7s;
  }
  .view-content.ng-hide {
    width: 0px;
  }

  .gallery-container {
    position: relative;
    margin-left: 15px;
    flex: 1;
    display: box;
    display: -webkit-box;
    overflow: auto;

    //TODO: pull this out to directive
    .loading-overlay {
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("/images/spinner.gif");
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      opacity: .2;
    }

    .gallery {
      display: flex;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      img {
        height: 500px;
        padding-right: 15px;
        -webkit-transition:all linear .5s;
        transition:all linear .5s;
      }

      img.ng-enter, img.ng-leave.ng-leave-active {
        opacity: 0;
      }

      img.ng-enter.ng-enter-active, img.ng-leave {
        opacity: 1;
      }
    }
  }
}

.spacer {
  height: 20px;
  background: $color-secondary;
}

// So we can ng-cloak without loading angular in the header
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


// For testing...
.test {
  width: 100%;
  height: 100%;
  background: $color-secondary;
}

.otherwise {
  width: 100%;
  height: 100%;
  background: $color-primary;
}

