$color-primary: #e9e8e6;
$color-secondary: #c6d1d5;

body {
  margin: 0;
  padding: 0;
  border: 0;
  background: $color-primary;
}

header {
  height: 120px;
}

footer {
  height: 120px;
}

.main-container {
  position:relative;
  left:0;
  right:0;
  height: 500px;

  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 175px;
    background: $color-primary;
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 195px;
    right: 10px;
    background: $color-secondary;
  }
}

.selected {
  color: $color-secondary;
}

.spacer {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  background: $color-secondary;
}

// So we can ng-cloak without loading angular in the header
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// For testing...
.test {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-secondary;
}

.otherwise {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-secondary;
}

